* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 62.5%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

body {
    min-height: 100vh; /* Garante que o body ocupe a altura total da viewport */
    background-color: #000;
    background-size: cover;
    background-position: center;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}


h1 {
    color: white; /* Define a cor do texto como branco */
    font-size: 3rem; /* Tamanho da fonte */
    margin-top: 20px; /* Espaçamento superior para não colar no topo */
    text-align: center; /* Centraliza o texto */
}